<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página do Administrador</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<header>
  <h1>Página do Administrador</h1>
</header>

<div class="container">
  <h2 id="welcome-message">Bem-vindo, Administrador!</h2>
  <div id="user-email"></div>

</div>
<button id="approve-events-btn">Aprovar Eventos</button>

<button id="close-events-btn">Encerrar Eventos</button>


<footer>
  <p>&copy; 2024 Sistema de Apostas</p>
</footer>

<script src="/ts/admpage.js"></script>
</body>
</html>
