<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Apostas</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<header>
  <h1>Tela de Apostas</h1>
  <div id="user-email"></div>
</header>

<div class="container">
  <h2>Eventos Disponíveis para Apostas</h2>
  <table id="events-table">
    <thead>
    <tr>
      <th>Nome do Evento</th>
      <th>Lado A</th>
      <th>Lado B</th>
      <th>Data do Evento</th>
      <th>Apostar</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<footer>
  <p>&copy; 2024 Sistema de Apostas</p>
</footer>

<script src="/ts/bet.js"></script>
</body>
</html>
