<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<h1>Login</h1>
<form id="login-form">
  <label for="login-email">Email:</label>
  <input type="email" id="login-email" required><br>
  <label for="login-password">Senha:</label>
  <input type="password" id="login-password" required><br>
  <button id="login-btn" type="button">Login</button>
</form>
<p id="login-message"></p>


<script src="/ts/login.js"></script>
</body>
</html>
