<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo</title>
  <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
<h1>Bem-vindo!</h1>
<p id="user-email">Você está logado com sucesso.</p>

<div>
  <button id="my-wallet-btn">Gerenciar Carteira</button>
  <button id="new-event-btn">Criar Novo Evento</button>
  <button id="bet-btn">Apostar</button>
</div>

<script src="/ts/welcome.js"></script>
</body>
</html>